body {
	text-align:	center
	;margin: auto
	;background-color: #C0C6DC ;
	;width: 1000px;
	;height: 650px
	;font-family: 'Courier New'
	;font-size: 0.8em;
}

bodyLong {
	text-align:	center
	;margin: auto
	;background-color: #999999
	;width: 1000px;
	;height: 200px
	;font-family: 'Courier New', monospace
	;font-size: 0.8em;
}

input {font-family: 'Courier New'; width: 250px}
select {font-family: 'Courier New'; width: 256px}
.inputWide {font-family: 'Courier New'; width: 700px}

a:link { text-decoration:none; color:blue}
a:visited { text-decoration:none; color:blue}

/*
.linkHomeT {filter:DropShadow(Color=black, OffX=1, OffY=1);text-shadow:black 1px 1px;opacity:0.30;filter:alpha(opacity=30);position:relative; top:42px; left:-215px; font-size: 1em; text-shadow:#505050 1px 1px;}
.linkHomeT a:link 	{color:#606060}
.linkHomeT a:visited {color:#606060}
.linkHomeT a:hover	{color:black}
*/

.linkMenu {position:absolute; top:-50px;color:red; filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;text-shadow:#505050 1px 1px;}
.linkMenu a:link 	{color:DarkMagenta}
.linkMenu a:visited {color:DarkMagenta}
.linkMenu a:hover	{color:black}

.linkHome {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top:-50px; left:-110px; font-size: 0.6em; text-shadow:#505050 1px 1px;}
.linkHome a:link 	{color:red}
.linkHome a:visited {color:red}
.linkHome a:hover	{color:black}

.linkProgram {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:-5px; font-size: 0.6em; text-shadow:#505050 1px 1px;}
.linkProgram a:link 	{color:red}
.linkProgram a:visited {color:red}
.linkProgram a:hover	{color:black}

.linkPlace {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:130px; font-size: 0.6em; text-shadow:#505050 1px 1px;}
.linkPlace a:link 	{color:red}
.linkPlace a:visited {color:red}
.linkPlace a:hover	{color:black}

.linkArrive {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:255px; font-size: 0.6em;  text-shadow:#505050 1px 1px;}
.linkArrive a:link 	{color:red}
.linkArrive a:visited {color:red}
.linkArrive a:hover	{color:black}

.linkSleep {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:450px; font-size: 0.6em;  text-shadow:#505050 1px 1px;}
.linkSleep a:link 	{color:red}
.linkSleep a:visited {color:red}
.linkSleep a:hover	{color:black}

.linkRegister {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:610px; font-size: 0.6em; text-shadow:#505050 1px 1px;}
.linkRegister a:link 	{color:red}
.linkRegister a:visited {color:red}
.linkRegister a:hover	{color:black}

.linkParticipants {filter:DropShadow(Color=black, OffX=1, OffY=1); text-shadow:black 1px 1px;position:absolute; top: -50px; left:740px; font-size: 0.6em; text-shadow:#505050 1px 1px;}
.linkParticipants a:link 	{color:red}
.linkParticipants a:visited {color:red}
.linkParticipants a:hover	{color:black}

#header {margin: auto; text-align: left; position: relative; left: 130px; top: 20px;  font-size: 1.5em; }

#footer {margin: auto; text-align: middle; position: relative; top: 65px;  font-size: 0.9em; }

#content {
	text-align: left; 
	position: relative; left: 80px; top: 30px;
}

#home {
	width: 900px;
	height: 548px;
	background-image:url(/images/accueil.jpg);

}

#program {
	width: 900px;
	height: 548px;
	background-image:url(/images/programme.jpg);
}

#place {
	width: 900px;
	height: 615px;
}

#arrive {
	width: 900px;
	height: 615px;
}

#sleep {
	width: 900px;
	height: 615px;
}

#register {
	width: 900px;
	height: 590px;
}

#participants {
	width: 900px;
	height: 2000px;
}

#place table img {
	width: 80px;
	height: 80px;
}

.frametext {
	position: relative; left: 0px; top: 20px;
	width: 1000px;
	height: 650px;
	float: left;
	font-size:1.35em
}

.bold {
	;color:#303030
}

.topClass {
	vertical-align: top
}